<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2016 Radial Commerce Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2016 Radial Commerce Inc. (http://www.radial.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <Radial_Tax>
            <version>1.6.7</version>
        </Radial_Tax>
    </modules>
    <global>
        <blocks>
            <radial_tax>
                <class>Radial_Tax_Block</class>
            </radial_tax>
        </blocks>
        <models>
            <radial_tax>
                <class>Radial_Tax_Model</class>
                <resourceModel>radial_tax_resource</resourceModel>
            </radial_tax>
        </models>
        <helpers>
            <radial_tax>
                <class>Radial_Tax_Helper</class>
            </radial_tax>
        </helpers>
	<resources>
            <radial_tax_setup>
                <setup>
                    <module>Radial_Tax</module>
		    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </radial_tax_setup>
        </resources>
	<template>
                <email>
                        <custom_email_template3 module="Tax">
                               <label>Radial - Tax Exception Report</label>
                                <file>tax_exception_template.html</file>
                                <type>html</type>
                        </custom_email_template3>
                </email>
        </template>
	<fieldsets>
		<sales_convert_quote>
			<radial_tax_taxrecords>
                            <to_order>*</to_order>
                        </radial_tax_taxrecords>
			<radial_tax_duties>
                            <to_order>*</to_order>
                        </radial_tax_duties>
			<radial_tax_fees>
                            <to_order>*</to_order>
                        </radial_tax_fees>
			<radial_tax_transmit>
			    <to_order>*</to_order>
			</radial_tax_transmit>
			<radial_tax_transaction_id>
			    <to_order>*</to_order>
			</radial_tax_transaction_id>
	         </sales_convert_quote>
                 <sales_convert_order>
                        <radial_tax_taxrecords>
                            <to_quote>*</to_quote>
			</radial_tax_taxrecords>
                        <radial_tax_duties>
                            <to_quote>*</to_quote>
			</radial_tax_duties>
                        <radial_tax_fees>
                            <to_quote>*</to_quote>
			</radial_tax_fees>
                        <radial_tax_transmit>
                            <to_quote>*</to_quote>
			</radial_tax_transmit>
                        <radial_tax_transaction_id>
                            <to_quote>*</to_quote>
			</radial_tax_transaction_id>
                  </sales_convert_order>
		  <sales_convert_quote_item>
			<radial_hts_code>
				<to_order_item>*</to_order_item>
			</radial_hts_code>
			<radial_screen_size>
				<to_order_item>*</to_order_item>
			</radial_screen_size>
			<radial_manufacturing_country_code>
				<to_order_item>*</to_order_item>
			</radial_manufacturing_country_code>
			<radial_tax_code>
				<to_order_item>*</to_order_item>
			</radial_tax_code>
		  </sales_convert_quote_item>
		  <sales_convert_order_item>
                        <radial_hts_code>
                                <to_quote_item>*</to_quote_item>
                        </radial_hts_code>
                        <radial_screen_size>
                        	<to_quote_item>*</to_quote_item>
			</radial_screen_size>
                        <radial_manufacturing_country_code>
                        	<to_quote_item>*</to_quote_item>
			</radial_manufacturing_country_code>
                        <radial_tax_code>
                        	<to_quote_item>*</to_quote_item>
			</radial_tax_code>
                  </sales_convert_order_item>
	</fieldsets>
        <events>
            <!-- Taxes requested from the tax service in this event -->
            <sales_quote_collect_totals_after>
                <observers>
                    <radial_tax_reset_tax_flags>
                        <class>radial_tax/observer</class>
                        <method>handleSalesQuoteCollectTotalsAfter</method>
                    </radial_tax_reset_tax_flags>
                </observers>
            </sales_quote_collect_totals_after>
	    <sales_order_invoice_pay>
		<observers>
		    <radial_tax_invoice_tax>
			<class>radial_tax/observer</class>
			<method>processTaxInvoiceForInvoice</method>
		    </radial_tax_invoice_tax>
		</observers>
	    </sales_order_invoice_pay>
	    <sales_order_creditmemo_refund>
                <observers>
                    <radial_tax_creditmemo_tax>
                        <class>radial_tax/observer</class>
                        <method>processTaxInvoiceForCreditmemo</method>
                    </radial_tax_creditmemo_tax>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_invoice_save_after>
                <observers>
                    <radial_tax_invoice_transfer_gw>
                        <type>model</type>
                        <class>radial_tax/observer</class>
                        <method>transferRemainingGwPrices</method>
                    </radial_tax_invoice_transfer_gw>
                </observers>
            </sales_order_invoice_save_after>
	    <checkout_submit_all_after>
                <observers>
                    <radial_tax_copy_to_order>
		    	<class>radial_tax/observer</class>
			<method>copyTaxAmount</method>
		    </radial_tax_copy_to_order>
		</observers>
            </checkout_submit_all_after>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <radial_tax_block_order>
                    	<class>radial_tax/observer</class>
                    	<method>blockOrderNoTax</method>
                    </radial_tax_block_order>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
	</events>
        <blocks>
            <tax>
                <rewrite>
                    <checkout_grandtotal>Radial_Tax_Block_Tax_Checkout_Grandtotal</checkout_grandtotal>
                </rewrite>
            </tax>
            <adminhtml>
                <rewrite>
                    <sales_order_create_totals_grandtotal>Radial_Tax_Block_Adminhtml_Sales_Order_Create_Totals_Grandtotal</sales_order_create_totals_grandtotal>
                </rewrite>
            </adminhtml>
        </blocks>
        <sales>
            <quote>
                <totals>
		    <tax>
			<class>radial_tax/total_quote_address_magentotax</class>
		    </tax>
		    <tax_subtotal>
                        <class>radial_tax/total_quote_address_subtotal</class>
                    </tax_subtotal>
		    <tax_shipping>
                        <class>radial_tax/total_quote_address_shipping</class>
                    </tax_shipping>
		    <tax_giftwrapping>
                        <class>radial_tax/total_quote_address_giftwrapping</class>
                    </tax_giftwrapping>
                    <radial_tax>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                        <class>radial_tax/total_quote_address_tax</class>
                    </radial_tax>
		    <radial_tax_fees>
			<after>radial_tax</after>
                        <before>grand_total</before>
                        <class>radial_tax/total_quote_address_fees</class>
		    </radial_tax_fees>
		    <radial_tax_duties>
			<after>radial_tax_fees</after>
                        <before>grand_total</before>
                        <class>radial_tax/total_quote_address_duties</class>
		    </radial_tax_duties>
                </totals>
                <item>
                    <!--
                        Only product attributes listed in this configuration
                        (merged with Mage_Sales/etc/config.xml and others)
                        will be included on products loaded for quote items.
                        For HTS Codes to be available while making TDF requests, the
                        hts_codes product attribute must be included in the list.
                    -->
                    <product_attributes>
                        <hts_codes/>
                        <country_of_manufacture/>
                        <tax_code/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <translate>
            <modules>
                <Radial_Tax>
                    <files>
                        <default>Radial_Tax.csv</default>
                    </files>
                </Radial_Tax>
            </modules>
        </translate>
        <layout>
            <updates>
                <radial_tax>
                    <file>radial_tax.xml</file>
                </radial_tax>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Radial_Tax>
                    <files>
                        <default>Radial_Tax.csv</default>
                    </files>
                </Radial_Tax>
            </modules>
        </translate>
         <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <radial_tax_displaytaxerror_order_view_info>
                        <class>radial_tax/observer</class>
                        <method>getSalesOrderViewInfo</method>
                    </radial_tax_displaytaxerror_order_view_info>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <layout>
            <updates>
                <radial_tax>
                    <file>radial_tax.xml</file>
                </radial_tax>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <radial_tax>
            <api>
                <service>taxes</service>
                <operation>quote</operation>
            </api>
            <duty>
                <rate_code>eb2c-duty-amount</rate_code>
            </duty>
            <pricing>
                <vat_inclusive>0</vat_inclusive>
            </pricing>
        </radial_tax>
	<radial_core>
                <radial_tax_core>
			<enabledmod>0</enabledmod>
                        <maxretries>3</maxretries>
                        <responsetimeout>20000</responsetimeout>
			<printedcardtaxclass>18451</printedcardtaxclass>
			<displayfees>0</displayfees>
			<displayduties>0</displayduties>
			<notaxcalcerror>Please Note: Taxes were not calculated at the time of checkout and tax will be added to the order at a later date.</notaxcalcerror>
			<acceptnotax>1</acceptnotax>
                </radial_tax_core>
        </radial_core>
    </default>
    <crontab>
        <jobs>
            <radial_tax_retry_invoice>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>radial_tax/cron::cronTaxInvoiceForInvoice</model></run>
		<groups>radial</groups>
            </radial_tax_retry_invoice>
	    <radial_tax_retry_creditmemo>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>radial_tax/cron::cronTaxInvoiceForCreditmemo</model></run>
		<groups>radial</groups>
            </radial_tax_retry_creditmemo>
	    <radial_tax_retry_order_quote>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>radial_tax/cron::cronOrderTaxQuoteRetry</model></run>
		<groups>radial</groups>
            </radial_tax_retry_order_quote>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Radial_Tax/>
            </modules>
        </suite>
    </phpunit>
    <admin>
        <routers>
            <radial_tax>
                <use>admin</use>
                <args>
                    <frontName>radial_tax</frontName>
                    <module>Radial_Tax_Adminhtml</module>
                </args>
            </radial_tax>
        </routers>
    </admin>
</config>
