<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2013-2016 Radial Commerce Inc.

NOTICE OF LICENSE

This source file is subject to the Open Software License (OSL 3.0)
that is bundled with this package in the file LICENSE.md.
It is also available through the world-wide-web at this URL:
http://opensource.org/licenses/osl-3.0.php

@copyright   Copyright (c) 2013-2016 Radial Commerce Inc. (http://www.radial.com/)
@license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
    <modules>
        <Radial_Tax>
            <version>1.6.2</version>
        </Radial_Tax>
    </modules>
    <global>
        <blocks>
            <radial_tax>
                <class>Radial_Tax_Block</class>
            </radial_tax>
        </blocks>
        <models>
            <radial_tax>
                <class>Radial_Tax_Model</class>
                <resourceModel>radial_tax_resource</resourceModel>
            </radial_tax>
	    <sales>
                <rewrite>
                    <order_invoice_total_tax>Radial_Tax_Model_Sales_Order_Invoice_Total_Tax</order_invoice_total_tax>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <radial_tax>
                <class>Radial_Tax_Helper</class>
            </radial_tax>
        </helpers>
	<resources>
            <radial_tax_setup>
                <setup>
                    <module>Radial_Tax</module>
		    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </radial_tax_setup>
        </resources>
	<template>
                <email>
                        <custom_email_template3 module="Tax">
                               <label>Radial - Tax Exception Report</label>
                                <file>tax_exception_template.html</file>
                                <type>html</type>
                        </custom_email_template3>
                </email>
        </template>
	<fieldsets>
    		<sales_convert_quote>
        		<radial_tax_taxrecords>
		            <to_order_item>*</to_order_item>
        		</radial_tax_taxrecords>
    		</sales_convert_quote>
    		<sales_convert_order>
        		<radial_tax_taxrecords>
            			<to_quote_item>*</to_quote_item>
        		</radial_tax_taxrecords>
    		</sales_convert_order>
		<sales_convert_quote>
                        <radial_tax_duties>
                            <to_order_item>*</to_order_item>
                        </radial_tax_duties>
                </sales_convert_quote>
                <sales_convert_order>
                        <radial_tax_duties>
                                <to_quote_item>*</to_quote_item>
                        </radial_tax_duties>
                </sales_convert_order>
		<sales_convert_quote>
                        <radial_tax_fees>
                            <to_order_item>*</to_order_item>
                        </radial_tax_fees>
                </sales_convert_quote>
                <sales_convert_order>
                        <radial_tax_fees>
                                <to_quote_item>*</to_quote_item>
                        </radial_tax_fees>
                </sales_convert_order>
	</fieldsets>
        <events>
            <!-- Taxes requested from the tax service in this event -->
            <sales_quote_collect_totals_after>
                <observers>
                    <radial_tax_reset_tax_flags>
                        <class>radial_tax/observer</class>
                        <method>handleSalesQuoteCollectTotalsAfter</method>
                    </radial_tax_reset_tax_flags>
                </observers>
            </sales_quote_collect_totals_after>
	    <sales_order_invoice_pay>
		<observers>
		    <radial_tax_invoice_tax>
			<class>radial_tax/observer</class>
			<method>processTaxInvoiceForInvoice</method>
		    </radial_tax_invoice_tax>
		</observers>
	    </sales_order_invoice_pay>
	    <sales_order_creditmemo_refund>
                <observers>
                    <radial_tax_creditmemo_tax>
                        <class>radial_tax/observer</class>
                        <method>processTaxInvoiceForCreditmemo</method>
                    </radial_tax_creditmemo_tax>
                </observers>
            </sales_order_creditmemo_refund>
	    <sales_order_place_after>
                <observers>
                    <radial_tax_copy_to_order>
		    	<class>radial_tax/observer</class>
			<method>copyFromQuoteToOrder</method>
		    </radial_tax_copy_to_order>
		</observers>
            </sales_order_place_after>
        </events>
        <sales>
            <quote>
                <totals>
                    <radial_tax>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                        <class>radial_tax/total_quote_address_tax</class>
                    </radial_tax>
                </totals>
                <item>
                    <!--
                        Only product attributes listed in this configuration
                        (merged with Mage_Sales/etc/config.xml and others)
                        will be included on products loaded for quote items.
                        For HTS Codes to be available while making TDF requests, the
                        hts_codes product attribute must be included in the list.
                    -->
                    <product_attributes>
                        <hts_codes/>
                        <country_of_manufacture/>
                        <tax_code/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <frontend>
        <translate>
            <modules>
                <Radial_Tax>
                    <files>
                        <default>Radial_Tax.csv</default>
                    </files>
                </Radial_Tax>
            </modules>
        </translate>
        <layout>
            <updates>
                <radial_tax>
                    <file>radial_tax.xml</file>
                </radial_tax>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Radial_Tax>
                    <files>
                        <default>Radial_Tax.csv</default>
                    </files>
                </Radial_Tax>
            </modules>
        </translate>
	<layout>
        	<updates>
        	    <radial_tax>
        	 	    <file>radial_tax.xml</file>
        	    </radial_tax>
        	</updates>
	</layout>
	<events>
        	<sales_order_grid_collection_load_before>
        	    <observers>
        	        <radial_tax_invoice_grid>
        	            <model>radial_tax/observer</model>
        	            <method>salesInvoiceGridCollectionLoadBefore</method>
        	        </radial_tax_invoice_grid>
        	    </observers>
        	</sales_order_grid_collection_load_before>
        </events>
    </adminhtml>
    <default>
        <radial_tax>
            <api>
                <service>taxes</service>
                <operation>quote</operation>
            </api>
            <duty>
                <rate_code>eb2c-duty-amount</rate_code>
            </duty>
            <pricing>
                <vat_inclusive>0</vat_inclusive>
            </pricing>
        </radial_tax>
	<radial_core>
                <radial_tax_core>
                        <maxretries>3</maxretries>
                        <responsetimeout>20000</responsetimeout>
                </radial_tax_core>
        </radial_core>
    </default>
    <crontab>
        <jobs>
            <radial_tax_retry_invoice>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>radial_tax/cron::cronTaxInvoiceForInvoice</model></run>
            </radial_tax_retry_invoice>
	    <radial_tax_retry_creditmemo>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>radial_tax/cron::cronTaxInvoiceForCreditmemo</model></run>
            </radial_tax_retry_creditmemo>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Radial_Tax/>
            </modules>
        </suite>
    </phpunit>
</config>
